$color-green: #00bb96;
$color-gray: #777777;
$color-gray-300: #a9a9a9;
$color-blue-gray: #9FA6B2;
$color-blue-gray-300: #778295;
$color-blue-100: #68b9e9;
$color-blue-500: #0275d8;
$color-blue-900: #224e87;
$color-red-500: #c80000;
$color-green-500: #00bb96;

$white: #ffffff;
$black: #000000;

$info: #17b393 !default;

$text-color: $color-gray;